    <!-- NAVBAR -->
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal lighten-1 ">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">Google Keep Clone</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger primary"><i class="material-icons">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } else { %>
                    <li><a href="/user/<%=currentUser._id%>"><%= currentUser.displayName %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    </div>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li class="divider" tabindex="-1"></li>
        <% if(!currentUser){ %>
            <li><a href="/login">Login</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/register">Register</a></li>
        <% } else { %>
            <li><a href="/user/<%=currentUser._id%>"><%= currentUser.displayName %></a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>