<form action="/note" method="POST" enctype="multipart/form-data">
    <div class="card-content note accordion">
        <span class="card-title">
            <div class="input-field note ">
                <input placeholder="Title" name="note[title]" type="text">
            </div>
        </span>          
    </div>
    <div class="card-action panel" style="display: none;">
        <div class="input-field note" style="margin-bottom : 10px;">
            <input placeholder="Take a note" name="note[text]" type="text">
        </div>                                    
        <% include ./options.ejs %>
    </div>
</form>