<% include ./partials/header %>

<div class="container">
    <div class="form-width  mt-3">
        <div class="card animated zoomIn fast">
          <div class="card-content">
            <span class="card-title"><p class=" form-title">Sign Up</p></span>
            <form action="/register" method="POST" class="col s12">
              <div class="row">
                <div class="input-field col s12 m6">
                  <input  id="first_name" type="text" name="firstname" class="validate" required >
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="last_name" type="text" name="lastname" class="validate" required>
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" name="email" class="validate" required>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 ">
                  <input id="password" type="password" name="password" class="validate" required>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                  <div class="input-field center col s12">
                    <button class="waves-effect waves-light btn-large">
                      Sign Up
                    </button>
                  </div>
                </div>
            </form>
          </div>
        </div>   
    </div>
</div>


<% include ./partials/footer %>