    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a href="/"><i class="material-icons">wb_incandescent</i>Notes</a></li>
        <li><a href="#!"><i class="material-icons">notification_important</i>Reminders</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">LABELS</a></li> 
        <!-- <li><a href="#!"><i class="material-icons">label</i>Edit labels</a></li> -->
        <li><a href="#!"><i class="material-icons">colorize</i>Edit labels</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!"><i class="material-icons">archive</i>Archive</a></li>
        <li><a href="#!"><i class="material-icons">delete</i>Trash</a></li>
    </ul>